@import url(sanitize.css);

body {
    background-color: #f0f0f0;
    padding:10px;
    font-size: 14px;
    color: #666;
}

.container {
    max-width: 800px;
    margin: 0 auto; /*左右の余白をauto 水平中央揃え*/
    box-shadow: 0 0 10px rgba(0,0,0,.3);
}

header {
    background-color: #422814;
    padding:10px; /*要素内余白を10px*/
    color: #fff;
}

header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: normal;
    text-align: center; /*テキストを中央揃え*/
    font-family: serif;
}

.description img{
    float:left;
    margin:0 10px 10px 0;
}

.description{
    clear: left;
}

.information h1 {
    font-size: 18px;
    margin:0 10px 10px 0; 
    float:left;
}

.information .type {
    display:inline;
    background-color: #E35A4D;
    padding:3px 5px;/* 要素内余白　上下　左右*/
    font-size: 80%; 
    color:#FFF;
}

.content {
    background-color:#fff;
    padding:20px;
}

.songs{
    margin:0 0 20px;/*下の余白のみ20px*/
}

.songs h2{
    clear:left;
    font-size:100%;
    font-weight: normal;
    margin: 0;
    background-color: #E6E4DD;
    padding: 5px 10px;
}

.songs ol{
    padding: 0;
    margin: 0;
    list-style: decimal inside;/*リストのスタイルを算用数字に*/
}

.songs li{
    border-bottom: 1px solid #ccc;/*要素の下にのみ枠線を引く*/
    width:50%;/*要素の幅が画面の半分になる*/
    float:left;
    padding:5px 10px;
}

.clearfix:after{
    content:" ";
    display: table;
    clear: both;
}
a {
    color: #666;
    text-decoration: none;
}

footer{
    text-align: center;
    font-size: 80%;
}

.description img:hover{ /*マウスが画像の上にある時*/
    opacity: .5;/*透明度50%*/
}

.description img{
    float: left;
    display: block;/*表示をブロック状態にする*/
    margin: 0 auto;/*画像を中央に揃える*/
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

@media only screen and (max-width:600px){
    .description img{
        float: left;
        display: block;/*表示をブロック状態にする*/
        margin: 0 auto;/*画像を中央に揃える*/
        transition-property: opacity;
        transition-duration: 1s;
        transition-timing-function: ease;
        transition-delay: 0s;
    }
}